
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:  #f2f2f2;
    font-family: 'Saira Condensed', sans-serif;
}

.container {
    width: 350px;
    margin: 50px auto;
    background-color: #bfbfbf;
    padding: 20px;
    border-radius: 20px;
}

h1, p {
    text-align: center;
    margin: 5px auto;
    
}

h1 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 18px;
    text-transform: capitalize;
}